<ion-view view-title="{{ 'mm.settings.support' | translate }}">
    <mm-split-view component="mmCoreSettingsIndex">
        <ion-content>
            <ul class="list">
                <li>
                    <a class="item" ng-href="mailto:courseadmin@amauonline.com" title="{{ 'courseadmin' | translate }}">
                        {{ 'Course Admin' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" ng-href="mailto:helpdesk@amauonline.com" title="{{ 'helpdesk' | translate }}">
                        {{ 'Helpdesk' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" ng-href="mailto:customer@amauonline.com" title="{{ 'customer' | translate }}">
                        {{ 'Customer' | translate }}
                    </a>
                </li>
            </ul>
        </ion-content>
    </mm-split-view>
</ion-view>